<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FORO_S5_PetShopApp"
        tools:targetApi="31">

        <!-- ↓↓↓ ESTE BLOQUE ES ESENCIAL - DECLARA TU PANTALLA PRINCIPAL ↓↓↓ -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <!--
            - android:configChanges: Evita que la actividad se reinicie si el usuario rota el teléfono.
            - android:exported="false": Esta actividad solo puede ser abierta por nuestra propia app.
            - android:theme: Usamos un tema sin barra de título para que el video ocupe toda la pantalla.
        -->
    </application>

</manifest>
